@font-face {
  font-family: "Museo Cyrl 500";
  src: url("MuseoCyrl-500.woff2") format("woff2"), url("MuseoCyrl-500.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Museo Cyrl 500";
  src: url("MuseoCyrl-500.woff2") format("woff2"), url("MuseoCyrl-500.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
