@font-face {
  font-family: "SF UI Display";
  src: url("SFUIDisplay-Medium.woff2") format("woff2"), url("SFUIDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: "SF UI Display Med";
  src: url("SFUIDisplay-Medium.woff2") format("woff2"), url("SFUIDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
