@font-face {
  font-family: "Plumb";
  src: url("Plumb-Light.woff2") format("woff2"), url("Plumb-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: "Plumb";
  src: url("Plumb-Medium.woff2") format("woff2"), url("Plumb-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: "Plumb";
  src: url("Plumb-Black.woff2") format("woff2"), url("Plumb-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: "Plumb";
  src: url("Plumb-Regular.woff2") format("woff2"), url("Plumb-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Plumb";
  src: url("Plumb-Bold.woff2") format("woff2"), url("Plumb-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: "Plumb";
  src: url("Plumb-Light.woff2") format("woff2"), url("Plumb-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: "Plumb";
  src: url("Plumb-Regular.woff2") format("woff2"), url("Plumb-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Plumb";
  src: url("Plumb-Bold.woff2") format("woff2"), url("Plumb-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: "Plumb";
  src: url("Plumb-Black.woff2") format("woff2"), url("Plumb-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: "Plumb";
  src: url("Plumb-Medium.woff2") format("woff2"), url("Plumb-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
